.account {
  height: 100%;
  padding: 20px;
  box-sizing: border-box;

  .accountGroup {
    max-width: 600px;
    height: 100%;
  }

  .field {
    margin: 0 auto 10px;
    box-sizing: border-box;
    font-size: 0.8em;
    color: $WHITE;
    display: flex;

    .fieldLabel {
      margin-right: 5px;
      text-align: right;
      width: 100px;
    }

    .fieldInput {
      width: 300px;

      &.textarea {
        border: 1px solid $INPUT_BORDER_BLACK;
        background-color: $DARK_BLACK;
        color: $WHITE;
        box-sizing: border-box;
        resize: none;
      }
    }
  }
}
