@mixin profile {
  .profile {
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;

    .profileSet {
      height: 100%;
      margin-right: 10px;
      .field {
        .fieldLabel {
          width: 100px;
        }

        .textfield,
        .textarea {
          width: 300px;
        }
      }
    }

    .buttons {
      .roundButton {
        width: 100%;
        margin-bottom: 5px;
        display: inline-block;

        &.cancel {
          border: 1px #777 solid;
        }
      }
    }
  }
}
