@mixin profile {
  .profile {
    height: 100%;
    padding: 20px;
    box-sizing: border-box;

    .settingSet {
      max-width: 600px;
    }

    .field {
      .fieldLabel {
        width: 100px;
      }

      .textfield,
      .textarea {
        width: 300px;
      }
    }
  }
}
