@import "./imageListCell";

$LI_WIDTH: 143px;

.imageList {
  box-sizing: border-box;
  background-color: $DARK_BLACK;
  overflow-y: scroll;

  &_dropArea {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 3em;
    display: none;

    &.dragOver {
      display: block;
    }

    .text {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      line-height: 408px;
      padding: 0;
      margin: auto;
      text-align: center;
      display: inline-block;
    }
  }

  &_items {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 10px 0 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;

    @include imageListCell;
  }
}
