.gutter {
  background-color: #eee;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: ew-resize;
}

.gutter.gutter-vertical {
  cursor: ns-resize;
}

.split, .gutter.gutter-horizontal {
  float: left;
}

.split, .gutter.gutter-horizontal {
  height: 300px;
}

.split {
  overflow-y: auto;
  overflow-x: hidden;
}
