.combobox {
  appearance: none;
  -webkit-appearance: none;
  background-color: $DARK_BLACK;
  background-image: url(../images/select_arrow.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 23px;
  width: 100px;
  box-sizing: border-box;
  padding: 0 10px;
  border: 1px solid $INPUT_BORDER_BLACK;

  &:focus {
    outline: none;
  }
}
