.field {
  box-sizing: border-box;
  display: flex;
  min-height: 25px;

  &_label {
    line-height: 25px;
    color: $WHITE;
    font-size: 0.8em;
    margin-right: 5px;
    text-align: right;
  }
}
