@import "./const";
@import "./modal";
@import "./button";
@import "./messageBox";
@import "./form/form";

.panel {
  box-sizing: border-box;
  border: 1px solid $BORDER_BLACK;
  background-color: $PANEL_BACK_BLACK;
}

.roundButton {
  height: 30px;
  padding: 0 40px;
  display: inline-block;
  line-height: 30px;
  border: 1px solid $WHITE;
  color: $WHITE;
  border-radius: 15px;
  font-size: 0.8em;
  cursor: pointer;

  &.clickDisable {
    opacity: 0.2;
    pointer-events: none;
  }
}

.toolButton {
  line-height: 36px;
  font-size: 1em;
  display: block;
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 3px;

  &:hover {
    border: 1px solid #626262;
    background-color: #474747;
    cursor: pointer;
  }

  i {
    pointer-events: none;
  }
}

.textField {
  width: 100%;
  line-height: 40px;
  padding: 0 10px;
  border: 0;
  box-sizing: border-box;
  background: transparent;
  border-bottom: 1px solid #CCC;
  color: $WHITE;

  &:focus {
    outline: none;
  }
}
