$BORDER_BLACK: #393939;
$PANEL_BACK_BLACK: #535353;
$DARK_BLACK: #4d4d4d;
$INPUT_BORDER_BLACK: #666666;
$WHITE: #d3d3d3;
$GREEN: #2ecc71;
$YELLOW: #f1c40f;
$BLUE: #5AC1EF;
$RED: #e74c3c;
$WHITE: #d3d3d3;
$PANEL_MARGIN: 2px;
