.imageSelectModal {
  &_list {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 60px;
    margin: 0;
  }

  &_footer {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .roundButton {
      width: 150px;
      margin-left: 10px;
    }
  }
}
