.gutter {
  background-repeat: no-repeat;
  background-position: 50%;

  &.gutter-horizontal {
    float: left;
    height: 100%;
    cursor: ew-resize;
  }

  &.gutter-vertical {
    cursor: ns-resize;
  }
}

.split {
  float: left;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
