@import "./header/header";
@import "./aside/aside";
@import "./entry/entry";
@import "./entries/entries";

@mixin top {
  .top {
    @include header;
    @include aside;

    &_content {
      position: absolute;
      top: 45px;
      left: 40px + $PANEL_MARGIN;
      right: 0;
      bottom: 0;
      box-sizing: border-box;

      @include entries;
      @include entry;
    }
  }
}
