@import "./header/header";
@import "./aside";
@import "./entry/entry";
@import "./entries/entries";
@import "./setting/setting";

@mixin top {
  @include header;

  .top {
    .content {
      position: absolute;
      top: 45px;
      left: 40px + $PANEL_MARGIN;
      right: 0;
      bottom: 0;
      box-sizing: border-box;

      @include entries;
    }
  }
}
