@import "./header/header";
@import "./aside/aside";
@import "./entry/entry";
@import "./entries/entries";
@import "./settingModal/setting";

@mixin top {
  @include header;
  @include aside;

  .top {
    .content {
      position: absolute;
      top: 45px;
      left: 40px + $PANEL_MARGIN;
      right: 0;
      bottom: 0;
      box-sizing: border-box;

      @include entries;
      @include entry;
      @include setting;
    }
  }
}
