@import "./menu";
@import "../settingModal/settingModal";

@mixin header {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 45px;
    background-color: #292929;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &_logo {
      margin-left: 10px;
    }

    &_icon {
      position: absolute;
      top: 0;
      right: 10px;
      bottom: 0;
      margin: auto;
      width: 32px;
      height: 32px;
      cursor: pointer;
      border-radius: 3px;
      box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.2);
      &:hover {
        box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5);
      }
    }

    @include menu;
    @include settingModal;
  }
}
