@import '../settingModal/settingModal';

@mixin userIcon {
  .userIcon {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
    width: 32px;
    height: 32px;

    img {
      cursor: pointer;
      border-radius: 3px;
      box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.2);
      &:hover {
        box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5);
      }
    }

    @include settingModal;

    .messageBox .messageBoxWrapper {
      top: 50px;
      right: 5px;
      width: 150px;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          box-sizing: border-box;
          line-height: 30px;
          padding: 0 5px;
          margin: 0 10px 10px;

          i {
            margin-right: 5px;
          }
        }

        .userName {
          color: #CCC;
          font-size: 0.8em;
          border-bottom: 1px #666 solid;
        }

        .settingButton {
          color: #FFF;
          border-radius: 4px;
          cursor: pointer;

          &:hover {
            background-color: $BLUE;
          }
        }

        .singOutButton {
          color: #FFF;
          border-radius: 4px;
          cursor: pointer;

          &:hover {
            background-color: $RED;
          }
        }
      }
    }
  }
}
