@import "./editor";
@import "./preview";

.article {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;

  .main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #DDD;
  }

  .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .button {
      height: 30px;
      margin-right: 10px;
    }
  }
}
