@import "./editor";
@import "./preview";

.article {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding: 0 5px;
    margin: 0;
    display: flex;
    align-items: center;

    li {
      line-height: 40px;
      font-size: 1.3em;
      display: block;
      width: 40px;
      height: 40px;
      margin-right: 5px;
      box-sizing: border-box;
      text-align: center;
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 3px;

      &:hover {
        border: 1px solid #626262;
        background-color: #474747;
        cursor: pointer;
      }
    }
  }

  .main {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #DDD;
  }

  .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .button {
      height: 30px;
      margin-right: 10px;
    }
  }
}
