.articleRow {
  cursor: pointer;
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #444444;
  background-color: #535353;

  &:hover {
    background-color: #6b6b6b;
  }
}
