.articleList {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 55px;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
  }

  .listFooter {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 50px;
  }
}
