.aside {
  position: absolute;
  top: 45px + $PANEL_MARGIN;
  left: $PANEL_MARGIN;
  bottom: $PANEL_MARGIN;
  margin: 0;
  padding: 1px 0 0 0;
  width: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}
