$BORDER_BLACK: #393939;
$PANEL_BACK_BLACK: #535353;
$DARK_BLACK: #4d4d4d;

$GREEN: #2ecc71;
$YELLOW: #f1c40f;
$RED: #e74c3c;

$PANEL_MARGIN: 2px;

html, body, #main {
  width: 100%;
  height: 100%;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 1em;
  color: #FFF;
}

body {
  height: 100%;
  overflow: hidden;
}

.app {
  width: 100%;
  height: 100%;
  background-color: $DARK_BLACK;
  position: relative;

  .content {
    position: absolute;
    top: 45px + $PANEL_MARGIN;
    left: 40px + ($PANEL_MARGIN * 2);
    right: $PANEL_MARGIN;
    bottom: $PANEL_MARGIN;
    box-sizing: border-box;
  }
}

.panel {
  box-sizing: border-box;
  border: 1px solid $BORDER_BLACK;
  background-color: $PANEL_BACK_BLACK;
}

.roundButton {
  height: 30px;
  padding: 0 40px;
  display: inline-block;
  line-height: 30px;
  border: 1px solid #FFF;
  color: #FFF;
  border-radius: 15px;
  font-size: 0.8em;
  cursor: pointer;

  &.cancel {
    border: 1px solid #CCC;
    color: #CCC;
  }

  &.clickDisable {
    opacity: 0.2;
    pointer-events: none;
  }
}

.toolButton {
  line-height: 36px;
  font-size: 1em;
  display: block;
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 3px;

  &:hover {
    border: 1px solid #626262;
    background-color: #474747;
    cursor: pointer;
  }

  i {
    pointer-events: none;
  }
}

.textField {
  width: 100%;
  line-height: 40px;
  padding: 0 10px;
  border: 0;
  box-sizing: border-box;
  background: transparent;
  border-bottom: 1px solid #CCC;
  color: #FFF;

  &:focus {
    outline: none;
  }
}
