.editor {
  width: 50%;
  height: 100%;
  position: relative;
  border-right: 1px solid $BORDER_BLACK;
  box-sizing: border-box;

  .titleBar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: $PANEL_BACK_BLACK;

    .eyeCatch {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 80px;
      height: 40px;
      box-sizing: border-box;
      border: 2px dotted #FFF;
      border-radius: 5px;
      cursor: pointer;
      text-align: center;
      line-height: 35px;
      &:hover {
        background-color: $BORDER_BLACK;
      }
    }

    .title {
      padding: 10px 0 10px 10px;
      margin-right: 100px;
    }
  }

  .toolbar {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    height: 40px;
    padding: 0 1px;
    margin: 0;
    display: flex;
    align-items: center;
    background-color: $PANEL_BACK_BLACK;
    border-top: 1px solid $BORDER_BLACK;
    border-bottom: 1px solid $BORDER_BLACK;

    li {
      margin-right: 5px;
    }
  }

  #ace {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
